/* место для вашего кода */
@import "../fonts/fonts.css";
@import "./global.css";

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  place-items: center;
  padding: 95px 48px 89px 50px;
}

.header__menu {
  display: flex;
  justify-self: start;
  gap: 12px;
  text-transform: lowercase;
  text-decoration: none;
  margin-bottom: 7px;
}

.header__links-list-item {
  font-size: 18px;
  letter-spacing: 0.2px;
  color: black;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border: none;
}

.header__separator {
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  align-self: center;
}

.header__logo-link {
  /*display: inline-block;*/ /* Если ссылка вложена во флекс- или грид-контейнер, 
                                 то браузер определит её значение display как block.
                                  Таким ссылкам можно свободно задать ширину, высоту, 
                                   а также padding-top и padding-bottom (или их логические аналоги). */
  min-width: 136px;
  height: 110px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  width: 235px;
  justify-self: end;
  margin-right: 7px;
  margin-bottom: 6px;
}

.address-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.main {
  margin-bottom: 60px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 120px;
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px;
}

.overlay {
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 115%;
  letter-spacing: 0.3em;
  margin-top: 2px;
  margin-bottom: 106px;
}

.aligned-text {
  display: inline-block;
}

.aligned-text_center {
  display: inline-block;
  align-self: center;
  margin: 20px 0 20px 30px;
}

.aligned-text_right {
  display: inline-block;
  align-self: flex-end;
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  color: white;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0em;
  word-spacing: 0.84em;
}

.cover__bet-button {
  font-size: 22px;
  color: white;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: rgb(0 0 0 / 0);
}

.section {
  padding: 60px 2.18%;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 40px 27px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  /*gap: 2.18%;*/
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 2.78%;
}

.lots__card-list-item {
  width: 334px;
  /*min-width: 31.8%;*/
  min-height: 596px;
}

.lots__card-link {
  height: 100%;
  cursor: pointer;
}

.lots__card {
  height: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center / cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.lots__card-title {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots__card-text {
  font-size: 20px;
  color: white;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: normal;
  color: black;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 31.8% auto;
  gap: 24px;
}

.footer__address {
  width: 260px;
}

.about-logo {
  padding: 35px 0 0 47px;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__essence {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*padding-right: 30px;*/
  padding-top: 135px;
}

.about__title {
  font-size: 40px;
  margin-bottom: 100px;
}

.about__annotation {
  font-size: 20px;
  line-height: 24.5px;
}

.annotation-one {
  padding-right: 30px
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px 80px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  margin-right: 27px;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
